.idea / workspace.xml

# Arquivos de pacote #
*.idea/
*.idea/sonarlint
log/*.log
# Itens específicos do usuário:
.idea / workspace.xml
.idea / tasks.xml
.idea / dicionários
.idea / vcs.xmlqq
.idea / jsLibraryMappings.xml
*.results
/target/
